# Node.js dependencies
node_modules/
package-lock.json

# Environment variables & credentials
.env
credentials.json

# Logs
logs/
*.log

# OS / Editor specific files
.DS_Store
Thumbs.db
.idea/
.vscode/